# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

# Flask Framework
Flask==2.1.2
flask_sqlalchemy==2.5.1
flask-wtf==1.0.1
flask-bcrypt==1.0.1
flask-login==0.6.1
email_validator