{% extends 'base.html' %}
{% block title %}
Create Assignment | Cloudroom
{% endblock %}
{% block style %}
<script src="{{ url_for('static',filename='JS/AssignmentsJS/codemirror-5.65.3/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static',filename='JS/AssignmentsJS/codemirror-5.65.3/mode/python/python.js') }}"></script>
<script src="{{ url_for('static',filename='JS/AssignmentsJS/codemirror-5.65.3/addon/display/autorefresh.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='JS/AssignmentsJS/codemirror-5.65.3/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='JS/AssignmentsJS/codemirror-5.65.3/theme/lucario.css') }}">
{% endblock %}
{% block content %}
{% include 'base_sidenav.html' %}
<body>
    <!-- Load CKEditor -->
    {{ ckeditor.load() }}

    <div class="container-fluid cloudroom-container">
        <div class="row min-vh-100">
            <!-- Assignment Description -->
            <div class="col-sm-5 assignment-description p-3 bg-light">
                <header>
                    <h3> {{ classroom.classroom_name }} {{ paper.paper_name }} </h3>
                    <span class="badge rounded-pill bg-success">Lesson {{ assignment.id }}</span>
                </header>
                <section class="description">
                    <h1>{{ assignment.name }}</h1>
                    <p class="text-break">{{ assignment.description }} </p>
                    <p class="text-break lh-sm">
                        Assignment started on <strong><span id="cDate">{{ assignment.creationDate }}</span></strong>. 
                        <br>
                        Assignment due on <strong><span id="dDate">{{ assignment.dueDate }}</span></strong>.
                    </p>
                </section>
            </div>

            <!-- Assignment Questions -->
            <div class="col-sm-5 assignment-questions p-3">
                <div class="accordion" id="questionsAccordion">  
                    <form method="POST">
                        {{ form.hidden_tag() }}

                    {% for question in questions %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ question.id }}">
                                <button class="accordion-button collapsed" 
                                type="button" 
                                data-bs-toggle="collapse" 
                                data-bs-target="#collapse{{ question.id }}" 
                                aria-expanded="false" 
                                aria-controls="collapse{{ question.id }}">
                                    {{ question.title }}
                                </button>
                            </h2>
                            <div id="collapse{{ question.id }}" 
                            class="accordion-collapse collapse" 
                            aria-labelledby="heading{{ question.id }}" 
                            data-bs-parent="#questionsAccordion">
                                <p>
                                    <small>
                                        <strong>Question Description</strong>
                                        <br>
                                        {% if question.description != "" %}
                                        {{ question.description|safe }}
                                        {% else %}
                                        <em>The assignment creator did not provide a description for this question.</em>
                                        {% endif %}
                                    </small>
                                </p>
                                {% set field = form|attr('q-{}'.format(question.id)) -%}
                                {% if question.type == "code" %}
                                <div class="code-box">
                                {% else %}
                                <div>
                                {% endif %}
                                    {{ field(class_='form-control', id='q-{} '.format(question.id) + ('', 'editor')[question.type=='code']) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if current_user.account_type == "Student" %}
                        {{ form.submit(class_="btn btn-outline-success mt-3") }}
                    {% endif %}
                    </form>
                </div>                
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename = 'JS/assignment_content_script.js') }}"></script>
</body>
{% endblock %}