{% extends 'base.html' %}
{% block title %}
Create Assignment | Cloudroom
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/create_assignment.css') }}">
{% endblock %}
{% block content %}
{% include 'base_sidenav.html' %}
<body>
    <!-- Load the text editor -->
    {{ ckeditor.load() }}

    <!-- CONTENT -->
    <div class="container-fluid cloudroom-container">
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-10" style="text-align: justify;">
                        <a href="javascript:history.back()">Back</a>
                        <div class="display-4">
                            Create questions for {{ assignment.name }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <!-- content -->
                        <div class="w-50 p-1 mb-3 mt-3 bg-light border rounded">
                            <form method="POST">
                                {{ questions_form.hidden_tag() }}
                                <div class="mb-3">
                                    {{ questions_form.type.label(class="form-label") }}
                                    {{ questions_form.type(class="form-select") }}
                                </div>
                                <div class="mb-3">
                                    {{ questions_form.title.label(class="form-label") }}
                                    {{ questions_form.title(placeholder="Enter question title", class="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ questions_form.description.label(class="form-label") }}
                                    {{ questions_form.description(class="form-control") }}
                                </div>
                                <div class="mb-3">
                                    {{ questions_form.placeholder_text.label(class="form-label") }}
                                    {{ questions_form.placeholder_text(class="form-control") }}
                                </div>
                                <button type="button" class="btn btn-outline-success">Add another question</button>
                                {{ questions_form.submit(class="btn btn-primary", type="submit", id="submitBtn") }}                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
    <script src="{{ url_for('static',filename='js/create_assignment_questions.js') }}"></script>
</body>
{% endblock %}