{% extends 'base.html' %}
{% block title %}
Dashboard | Cloudroom
{% endblock %}
{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register_style.css') }}">
{% endblock %}
{% block content %}
{% include 'base_sidenav.html' %}
<body class="text-center">
  <!--content title and join button-->
  <div class="container-fluid dashboard_header_content">
    <div class="row justify-content-between">
      <div class="col-4">
        <h1 class="h2_title text-sm-start fw-bold" style="color:#05396B">Virtual Classrooms
        </h1>
      </div>
      <div class="col-4">
        <a href="#" class="text-reset text-decoration-none">
          <h1 class="fs-6 text-center" style="padding-top:10px; margin-right:400px; color:#05396B;">
            <a href="#" data-bs-toggle="modal" data-bs-target="#Join_Cloudroom_Modal"
               class="text-reset text-decoration-none">
              <img src="../static/images/Add Classroom.png" alt="">Join Cloudroom
            </a>
          </h1>
        </a>
      </div>
    </div>
  </div>
  <!--main content-->
  <div class="container-fluid dashboard_main_content">
    <div class="row row-cols-sm-2 row-cols-md-4">
      <!--Displays all paper that the student is currently taking-->
      {% for paper in user_papers %}
      {% for class in classroom %}
      {%if class.id == paper.id_classroom %}
      <div class="col cloudroom_classnum" style="">
        <br>
        <p class="text-start" style="color:#05396B">
          {{class.classroom_name}}
        </p>
        <div class="row row-cols-1 row-cols-2" style=" background:#05396B">
          <div class="col-md-auto">
            <br>
            <img class="img-fluid" src="{{url_for('static', filename = paper.paper_picture )}}"style="width:270px; padding-bottom:30px;" >
          </div>
          <div class="col-md">
            <p class="text-md-start" style="color:white; margin-top:30px;">{{paper.paper_name}}
            </p>
            <p class="text-md-start" style="color:white; margin-top:30px;">Teacher: Jasper Rowling
            </p>
            <p class="text-md-start" style="color:white; margin-bottom:0; margin-top:0;">Lets learn how to code
            </p>
            <div class="d-grid gap-2 mx-auto">
              <a href="{{url_for('classroom_main_page', class_id =class.id,paper_id=paper.id)}}"
                 class="text-reset text-decoration-none text-end">
                <button class="btn btn-light" type="btn btn-lg button" style="margin-bottom:20px; margin-left:90px; margin-right:20px;">
                  Enter Cloudroom
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
  <!-- Modal -->
  <!--This will let user to join a classroom-->
  <div class="modal fade" id="Join_Cloudroom_Modal" tabindex="-1" aria-labelledby="Upload File" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="Join_id">Enter Cloudroom Code
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" class="form-signin" style="color:white">
            {{ join_room.hidden_tag() }}
            {{ join_room.code.label() }}
            {{ join_room.code(class="form-control", placeholder="Enter Code") }}
            {{ join_room.submit(class="d-grid gap-2 col-6 mx-auto signin_btn btn btn-block btn-primary") }}
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
