{% extends 'base.html' %}
    {% block title %}
      Sign In
    {% endblock %}
    {% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register_style.css') }}">
    {% endblock %}
    {% block content %}

    <body class="text-center">

    <div class="flex-nowrap col-sm-2 min-vh-100 position-absolute end-0 side-nav cloudrooom-green" style="background: #0FA958">
            <div class="user-section">
              <img src="../static/images/profile4.jpg" class="img-fluid user-image rounded-circle" style="object-fit: cover; width: 200px; height: 200px;" alt="Squid game avatar from Unsplash">
              <h5 class="display-6 text-center"id="username">Jay Chad</h5>
            </div>
            <div class="nav-icons">
              <div class="nav-button">
                <img src="../static/images/dashboard_icon.png" alt="">
                <p>View Dashboard</p>
              </div>
              <div class="nav-button">
                <img src="../static/images/email_icon.png" alt="">
                <p>View Email</p>
              </div>
              <div class="nav-button">
                <img src="../static/images/members_icon.png" alt="">
                <p>View Class Members</p>
              </div>
              <div class="nav-button">
                <img src="../static/images/assignments_icon.png" alt="">
                <p>View Assignments</p>
              </div>
              <div class="nav-button">
                <img src="../static/images/grades_icon.png" alt="">
                <p>View Grades</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>


{% endblock %}


