{% extends 'base.html' %}
    {% block title %}
      Create Account
    {% endblock %}
    {% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register_style.css') }}">
    {% endblock %}
    {% block content %}

    <div class="container-md edit_profile_form" >
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <div class="form1 col-md" id="form1">
                {{ form.first_name.label() }}
                {{ form.first_name(class="form-control", default=current_user.first_name) }}

                {{ form.last_name.label() }}
                {{ form.last_name(class="form-control", placeholder=current_user.last_name) }}

                {{ form.gender.label() }}
                {{ form.gender(class="form-control", placeholder=current_user.gender) }}

                {{ form.school.label() }}
                {{ form.school(class="form-control", placeholder=current_user.school) }}
            </div>

            <div class="form2" id="form2">
                {{ form.nickname.label() }}
                {{ form.nickname(class="form-control", placeholder=current_user.nickname) }}
            </div>
            <h1 class="display-6 text-center">Select Profile Picture</h1>
            <div class="form3">
                <div class="rows ">
                    {% for subfield in form.profile_pic %}
                      <div class="columns">
                        <label class="custom_radio ">
                            <img class="img-fluid img-thumbnail d-flex justify-content-center"
                             src="{{url_for('static',filename = subfield.data )}}">
                            {{ subfield }}{{ subfield.label }}</label>
                      </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form4" id="form4">
                <div class="d-grid gap-2">
                    {{ form.submit(class="btn btn-lg col-6 mx-auto btn-outline-primary") }}
                 <a href="{{url_for('user_profile', user = current_user.first_name)}}" class="text-reset text-decoration-none">
                    <p class="fw-bold text-sm-center fs-3" style="color:#20CED9;">Go Back</p>
                 </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

