{% extends 'base.html' %}
{% block title %}
Sign In
{% endblock %}
{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register_style.css') }}">
{% endblock %}
{% block content %}
<body>
  <div class="container-md signin_form_container" >
    <div class="container signin_form_container">
      <form method="POST" class="form-signin" style="color:white">
        {{ form.hidden_tag() }}
        <br>
        <h1 class="display-6 text-center">Login
        </h1>
        {{ form.email.label() }}
        {{ form.email(class="form-control", placeholder="User Name") }}
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}
        <a href="{{ url_for('forgot_password') }}"><p>Forgot Password</p></a>
        {{ form.submit(class="d-grid gap-2 col-6 mx-auto signin_btn btn mt-5 btn-block btn-primary") }}
        <div class="checkbox mb-3">
          <h6 class="text-center">Do not have an account?
            <a href="{{ url_for('sign_up') }}">
              <button type="button" class="signup_btn btn btn-outline-primary" >Sign-up
              </button>
            </a>
          </h6>
        </div>
      </form>
      <br>
      <br>
    </div>
  </div>
</body>
{% endblock %}
