{% extends 'base.html' %}
{% block title %}
Create Account
{% endblock %}
{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register_style.css') }}">
{% endblock %}
{% block content %}
<div class="container-md register_form_container d-flex justify-content-center">
   <form method="POST" class="form-register" style="color:white; width:70%;">
      {{ form.hidden_tag() }}
      <br><br>
      <div class="container d-flex justify-content-center">
         <div class="row">
            {% for subfield in form.account_type %}
            <div class="columns">
               <label class="custom_radio ">
               <img class="img-fluid img-thumbnail d-flex justify-content-center"
                  src="{{url_for('static',filename = subfield.data )}}">
               {{ subfield }}{{ subfield.label }}</label>
            </div>
            {% endfor %}
         </div>
      </div>
      <br><br>
      <div class="form1 col-md" id="form1">
         {{ form.first_name.label() }}
         {{ form.first_name(class="form-control", placeholder="First name") }}
         {{ form.last_name.label() }}
         {{ form.last_name(class="form-control", placeholder="Last name") }}
         {{ form.gender.label() }}
         {{ form.gender(class="form-control", placeholder="Select your Gender:") }}
         {{ form.school.label() }}
         {{ form.school(class="form-control", placeholder="Select your School:") }}
      </div>
      <div class="form2" id="form2">
         {{ form.nickname.label() }}
         {{ form.nickname(class="form-control", placeholder="Nickname") }}
      </div>
      <h1 class="display-6 text-center">Select Profile Picture</h1>
      <div class="form3">
         <div class="rows">
            {% for subfield in form.profile_pic %}
            <div class="columns">
               <label class="custom_radio ">
               <img class="img-fluid img-thumbnail d-flex justify-content-center"
                  src="{{url_for('static',filename = subfield.data )}}">
               {{ subfield }}{{ subfield.label }}</label>
            </div>
            {% endfor %}
         </div>
      </div>
      <div class="form4" id="form4">
         {{ form.email.label() }}
         {{ form.email(class="form-control", placeholder="@email") }}
         {{ form.confirm_email.label() }}
         {{ form.confirm_email(class="form-control", placeholder="@email") }}
         {{ form.password_hash.label() }}
         {{ form.password_hash(class="form-control", placeholder="") }}
         {{ form.verify_password.label() }}
         {{ form.verify_password(class="form-control", placeholder="") }}
         {{ form.submit(class="btn btn-lg btn-block d-grid gap-2 col-6 mx-auto btn-primary") }}
      </div>
   </form>
</div>
{% endblock %}