{% extends 'base.html' %}
{% block title %}
Dashboard | Cloudroom
{% endblock %}
{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register_style.css') }}">
{% endblock %}
{% block content %}
{% include 'base_sidenav.html' %}

<body class="text-center">

    <div class="downloadpage">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button>Upload</button>
        </form>
    </div>
    <div>
        {% for file in files %}
        {% include 'includes/upload_file_modal.html' %}
        <li>
          {{ file.filename }} | <a href="#" data-bs-toggle="modal" data-bs-target="#Modal-Download-{{ file.id }}">Download</a>
        </li>
        {% endfor %}
    </div>
</body>
{% endblock %}