{% extends 'base.html' %}
{% block title %}
Dashboard | Cloudroom
{% endblock %}
{% block style %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register_style.css') }}">
{% endblock %}
{% block content %}
{% include 'base_sidenav.html' %}
<body style="background:#05396B">
   <div class="row justify-content-between drive_header" style="color:white">
      <div class="col-4"style="padding-top:10px; margin-left:100px;">
         <h1 class="align-self-start">Cloud Drive</h1>
      </div>
      <div class="col-4 "style="padding-top:10px;">
         <a href="#" class="text-reset text-decoration-none" data-bs-toggle="modal" data-bs-target="#Upload_Modal">
            <h1 class="fs-6 text-center" style="padding-top:10px; margin-right:400px; color:#05396B;">
               <img src="{{url_for('static',filename = 'images/upload_file_icon.png')}}" alt="">
               <span style="color:white">Upload File</span>
               <img src="{{url_for('static',filename = 'images/add_icon.png')}}" alt="">
            </h1>
         </a>
      </div>
   </div>
   <div class="download_page" >
      <div class="d-flex flex-row bd-highlight mb-3" style="margin-left:20px;">
         {% for file in files %}
         {% include 'includes/upload_file_modal.html' %}
         <li class="p-2 bd-highlight" style="list-style: none;">
            <div class="file_icons">
               <div class="">
                  <a href="#" data-bs-toggle="modal" data-bs-target="#Modal-Download-{{ file.id }}">
                  <img src="{{url_for('static',filename = 'images/file_icon.png')}}"  class="img-fluid">
                  </a>
               </div>
               <div class="" style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 120px;">
                  {{ file.filename }}
               </div>
            </div>
         </li>
         {% endfor %}
      </div>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="Upload_Modal" tabindex="-1" aria-labelledby="Upload File" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="upload_id">Upload File</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form method="POST" enctype="multipart/form-data" >
                  <input type="file" name="file">
                  <button>Upload</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</body>
{% endblock %}