{% extends 'base.html' %}
    {% block title %}
      Sign In
    {% endblock %}
    {% block style %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/register_style.css') }}">
    {% endblock %}
    {% block content %}

    <div class="center">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <button>Submit</button>
        </form>
    </div>

    <div>
        {% for file in files %}
        <li>
          {{ file.filename }} | <a href="{{url_for('user_drive', user = current_user.first_name,id=file.id)}}">Download</a>
        </li>
        {% endfor %}
    </div>

{% endblock %}

