{% extends 'base.html' %}
{% block title %}
{{ paper.paper_name }} Submissions | Cloudroom
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/assignment_submission.css') }}">
<script src="{{ url_for('static',filename='JS/AssignmentsJS/codemirror-5.65.3/lib/codemirror.js') }}"></script>
<script src="{{ url_for('static',filename='JS/AssignmentsJS/codemirror-5.65.3/mode/python/python.js') }}"></script>
<script src="{{ url_for('static',filename='JS/AssignmentsJS/codemirror-5.65.3/addon/display/autorefresh.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='JS/AssignmentsJS/codemirror-5.65.3/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='JS/AssignmentsJS/codemirror-5.65.3/theme/lucario.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/view_submission.css') }}">
{% endblock %}
{% block content %}
{% include 'base_sidenav.html' %}
<body>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-sm-10 d-flex flex-column align-items-center mb-3">
                <div class="display-4 d-flex flex-column align-items-center justify-content-center">
                    <span><strong>{{ assignment.name }}</strong> Submissions</span>
                    <span class="h6 mt-3"><strong>Submission for:</strong> {{ submission.student.first_name}} {{ submission.student.last_name }}</span>
                </div>
                <form method="POST" class="w-50">
                {{ form.hidden_tag() }}

                {% for q in questions %}
                <div class="card mb-3">
                    <div class="card-header">
                        <strong>Question {{ loop.index }}: </strong>{{ q.title }}
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Question description:</strong></p>
                        <p class="card-text">{{ q.description|safe }}</p>
                        <p class="card-text"><strong>Answer:</strong></p>
                        {% if q.type == "code" %}
                        <div class="code-box">
                            <textarea id="editor" readonly>
{{ answers[loop.index - 1].question_content|safe }}</textarea>
                        </div>
                        {% elif q.type == "text" %}
                        <div class="text-box bg-light p-3 rounded-3">
                            {{ answers[loop.index - 1].question_content|safe }}
                        </div>
                        {% endif %}
                    </div>
                    {% set field = form|attr('q-{}'.format(q.id)) -%}
                    <div class="card-footer">
                            <!-- {{ field(class_='form_control') }} -->       
                            {% for btn in field %}      
                            {% set btn_id = 'id-{}{}'.format(q.id, loop.index) %}
                            {{ btn(class_='btn-check', id_=btn_id) }}
                            {% if loop.index == 1 %}                        
                            {{ btn.label(class="btn btn-outline-success", for=btn_id) }}
                            {% else %}
                            {{ btn.label(class="btn btn-outline-danger", for=btn_id) }}
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {{ form.submit(class_='btn btn-primary') }}
            </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'JS/view_submission_script.js') }}"></script>
</body>
{% endblock %}