{% extends 'base.html' %}
{% block title %}
{{ paper.paper_name }} Submissions | Cloudroom
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/assignment_submission.css') }}">
{% endblock %}
{% block content %}
{% include 'base_sidenav.html' %}
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-sm-10 d-flex flex-column align-items-center">
            <div class="display-4 mb-3">
                <strong>All {{ paper.paper_name }} Submissions</strong>
            </div>
            {% for a in assignments %}
            
            <div class="row justify-content-center mb-4">
                <div class="row align-self-start">
                    <h3>{{ a.name }}</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Pic</th>
                                <th scope="col">Name</th>
                                <th scope="col">Submission date</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Submission</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sub in submissions %}
                            {% if sub.assignment_id == a.id %}
                            {% if sub.grade != None %}
                            <tr class="table-success" title="You have marked this assignment already.">
                            {% else %}
                            <tr title="Unmarked assignment.">
                            {% endif %}
                                <th scope="row">{{ sub.student.id }}</th>
                                <td><div class="assignment-thumbnail">
                                    <img src="{{ url_for('static', filename = sub.student.profile_pic) }}" alt="Student image">
                                </div></td>
                                <td>{{ sub.student.first_name }} {{ sub.student.last_name }}</td>
                                {% if sub.has_submitted %}
                                <td><span class="dDate">{{ sub.submission_date}}</span></td>
                                <td>{{ sub.grade }}</td>
                                {% if sub.grade != None %}
                                <td><a href="{{ url_for('view_submission', class_id = classroom.id, paper_id = paper.id, assignment_id = a.id, submission_id = sub.id, student_id = 3) }}" class="btn btn-success" role="button">Update Grade</a></td>
                                {% else %}
                                <td><a href="{{ url_for('view_submission', class_id = classroom.id, paper_id = paper.id, assignment_id = a.id, submission_id = sub.id, student_id = 3) }}" class="btn btn-primary" role="button">View Submission</a></td>
                                {% endif %}
                                {% else %}
                                <td>--</td>
                                <td>--</td>
                                <td><a href="" class="btn btn-primary disabled" role="button" aria-disabled="true">View Submission</a></td>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='JS/dueDate_converter.js') }}"></script>
{% endblock %}