body{
    background-color:white;
}
#content2{
    display:none
}

#navbar{
    background-color: #0FA958;
}

.list_mobile{
    display:none;
}

.list_mobile p{
    margin:0;
}

.nav-link{
    color: white;
}

.navbar-brand{
    font-weight: bold;
    font-size: 36px;
    margin-left: 40px;
    color: white;
    margin-left:90px;
}

#navbar-nav{
    margin-right: 8%
}

#dropMenu{
    color: #0FA958;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.container-md{
    padding: 60px;
    background: #05396B;
    margin-top:170px;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.columns {
  flex: 50%;
  padding: 0 4px;
}

.columns img {

  margin-top: 8px;
  max-width: 70%;
}

.form3{
  margin-top: 50px;
  margin-bottom: 80px;
  margin-left:12%;
}

.columns label {
  margin-top: 8px;
  margin-left: 20%;
}

.form-control{
    font-size: 25px;
}

.form-control {
    margin: 5px;
}

.container-md label{
    margin: 5px;
    font-size: 22px;
}

h1{
    margin-top: 80px;
    margin-bottom: 80px;
}

.btn{
    margin-top: 70px;
    margin-bottom: 70px;
}

.img-border{
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #5CDB94;
  border-width: 1px;
}

.cloudroom_classnum{
    width: 600px;
}

/*Dashboard CSS */
.cloudroom_classnum{
    margin-left:120px;
}

.dashboard_header_content{
    margin-left:90px;
}

/* mobile*/
@media (max-width: 1000px)
{
    .cloudroom_classnum {
     margin-left:60px;

    }
    .dashboard_header_content{
        margin-left:60px;
    }

    .dashboard_main_content{
        display:inline;
    }
    .navbar-brand{
        margin-left:60px;
    }

    .list_mobile{
        display:block;
    }

    .mobile_icons{
        display:none
    }

    .list_desktop{
        display:none;
    }

    .side-nav {
        display: none;
    }
}

@media (max-width: 990px){
    .mobile_icons{
        display:inline;
    }
}

@media (max-width: 620px){
    .cloudroom_classnum {
     display:block;
     margin-left:10px;

    }

    .dashboard_header_content{

        margin-left:10px;
    }
}